.main{
    align-content: center;

}

.btn.btn-square {
    border-radius: 0;
    background-color: grey;
}

.btn.btn-xl{
    width: 50%;
} 

.btn.btn-xl-1{
    width: 30%;
    background-color: red;
}