.main{
    align-content: center;

}

.btn.btn-square {
    border-radius: 0;
    background-color: red;
}

.btn.btn-xl{
    width: 50%;
} 

.btn.btn-xl-1{
    width: 30%;
    background-color: red;
}

.btn.btn-square.btn-textfull{
    background-color: rgba(128, 128, 128, 0.2);
    color: black;
}